<div class="row full">
	<div class="col-md-9">
		<div class="col-md-2" ng-repeat="room in rooms | filter: { floor: 'FIRST' }">
			<div class="panel panel-primary">
				<div class="panel-heading">
					{{room.name}}<span class="glyphicon glyphicon-time right"></span>
				</div>
				<div class="panel-body">
					<div class="col-md-10">
						<span gauge value="room.temperature" label="°C"></span>
					</div>
					<div class="col-md-2 buttonsPanel">
						<toggle-switch ng-show="room.autoLights!=undefined" model="room.autoLights" on-label="1" off-label="0"
							ng-click="switchedRooms(this, $index)"> </toggle-switch>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-12">
			<div class="label-default" style="width:100%;height:1px;margin-bottom:20px;">&nbsp;</div>
		</div>
		<div class="col-md-2" ng-repeat="room in rooms | filter: { floor: 'BASEMENT' }">
			<div class="panel panel-primary">
				<div class="panel-heading">
					{{room.name}}<span class="glyphicon glyphicon-time right"></span>
				</div>
				<div class="panel-body">
					<div class="col-md-10">
						<span gauge value="room.temperature" label="°C"></span>
					</div>
					<div class="col-md-2 buttonsPanel">
						<toggle-switch ng-show="room.autoLights!=undefined" model="room.autoLights" on-label="1" off-label="0"
							ng-click="switchedRooms(this, $index)"> </toggle-switch>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="panel panel-info">
			<div class="panel-heading">
				Outdoor ({{systemState.lastUpdate}})<span class="glyphicon glyphicon-cloud right"></span>
			</div>
			<div class="panel-body">
				<div class="row">
					<div class="buttonsPanel right">
						<toggle-switch model="outdoor.autoLights" on-label="1" off-label="0"
							ng-click="switchedOutdoor(this)"> </toggle-switch>
					</div>					
				</div>
				<div class="row"
					ng-repeat="reading in outdoor.sensorReadings">
					<div class="col-md-5">
						<span class="label label-default">{{reading.type}}</span>
					</div>
					<div class="col-md-7">
						<span class="label label-success">{{reading.value}}</span>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				Home Automation <span app-version></span><span
					class="glyphicon glyphicon-heart right"></span>
			</div>
			<div class="panel-body">
				<div class="row"
					ng-repeat="property in systemState.values | filter: { type: 'jvm' }">
					<div class="col-md-3">
						<span class="label label-default">{{property.name}}</span>
					</div>
					<div class="col-md-9">
						<div class="progress">
							<div
								class="progress-bar {{(property.percentage > property.criticalPercentage) ? 'progress-bar-danger' : 'progress-bar-success'}}"
								role="progressbar"
								aria-valuenow="{{property.percentage > 100 ? 100 : property.percentage}}"
								aria-valuemin="0" aria-valuemax="100"
								style="min-width: 30%; width:{{property.percentage > 100 ? 100 : property.percentage}}%">{{property.textValue}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				Operating System<span class="glyphicon glyphicon-hdd right"></span>
			</div>
			<div class="panel-body">
				<div class="row"
					ng-repeat="property in systemState.values | filter: { type: 'os' }">
					<div class="col-md-3">
						<span class="label label-default">{{property.name}}</span>
					</div>
					<div class="col-md-9">
						<div class="progress">
							<div
								class="progress-bar {{(property.percentage > property.criticalPercentage) ? 'progress-bar-danger' : 'progress-bar-success'}}"
								role="progressbar"
								aria-valuenow="{{property.percentage > 100 ? 100 : property.percentage}}"
								aria-valuemin="0" aria-valuemax="100"
								style="min-width: 30%; width:{{property.percentage > 100 ? 100 : property.percentage}}%">{{property.textValue}}</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
