<div class="panel panel-info">
	<div class="panel-heading">Lights</div>
	<table class="table">
		<tbody>
			<tr>
				<th>Motion Sensor</th>
				<td><ha-state entity="entity" state="entity.motionSensor" /></td>
			</tr>
			<tr>
				<th>Light Switch</th>
				<td><ha-state entity="entity" state="entity.lightSwitch" /></td>
			</tr>
			<tr>
				<th>Light Control</th>
				<td><ha-state entity="entity" state="entity.lightControl"
						should-switch-off-when-disabled="true" /></td>
			</tr>
		</tbody>
	</table>
</div>
