<div ng-show="state==undefined" class="label label-default">Not present</div>

<div ng-show="state!=undefined">
	<div ng-hide="state.initiated"
		class="left label label-state label-danger">E</div>

	<toggle-switch class="left switch-state" model="state.enabled"
		on-label="Enabled" off-label="Disabled" ng-click="entity.$save()">
	</toggle-switch>

	<toggle-switch class="left switch-state" ng-disabled="!state.switchable"
		model="state.on" on-label="On" off-label="Off"
		ng-click="entity.$save()"> </toggle-switch>
</div>
