<div class="panel panel-info">
	<div class="panel-heading">
		<a href="#/systemstate">Home Automation <span ha-app-version></span></a><span
			class="glyphicon glyphicon-heart right"></span>
	</div>
	<div class="panel-body">
		<div class="row"
			ng-repeat="property in state.values | filter: { type: 'jvm' }">
			<ha-property property="property" />
		</div>
	</div>
</div>

<div class="panel panel-info">
	<div class="panel-heading">
		<a href="#/systemstate">Operating System</a><span class="glyphicon glyphicon-hdd right"></span>
			<span class="glyphicon glyphicon-exclamation-sign right" title="Database is not running!" ng-hide="state.dbRunning"></span>
	</div>
	<div class="panel-body">
		<div class="row"
			ng-repeat="property in state.values | filter: { type: 'os' }">
			<ha-property property="property" />
		</div>
	</div>
</div>
