<div class="row full">
	<div class="col-md-9 col-xs-6">
		<div class="col-md-2 col-xs-12"
			ng-repeat="room in rooms | filter: { floor: 'FIRST' }">
			<ha-room-panel room="room" />
		</div>
		<div class="col-md-12 col-xs-12">
			<div class="label-default"
				style="width: 100%; height: 1px; margin-bottom: 20px;">&nbsp;</div>
		</div>
		<div class="col-md-2 col-xs-12"
			ng-repeat="room in rooms | filter: { floor: 'BASEMENT' }">
			<ha-room-panel room="room" />
		</div>
	</div>
	<div class="col-md-3 col-xs-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				Outdoor ({{systemState.lastUpdate}})
				<ha-light-control entity="room" class="small"></ha-light-control>
				<span class="glyphicon glyphicon-cloud right"></span>
			</div>
			<table class="table">
				<tbody>
					<tr ng-repeat="reading in outdoor.sensorReadings">
						<th><span class="label label-default">{{reading.type}}</span></th>
						<td><span class="label label-success">{{reading.stringValue}}</span></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				Home Automation <span ha-app-version></span><span
					class="glyphicon glyphicon-heart right"></span>
			</div>
			<div class="panel-body">
				<div class="row"
					ng-repeat="property in systemState.values | filter: { type: 'jvm' }">
					<ha-property property="property" />
				</div>
			</div>
		</div>

		<div class="panel panel-info">
			<div class="panel-heading">
				Operating System<span class="glyphicon glyphicon-hdd right"></span>
			</div>
			<div class="panel-body">
				<div class="row"
					ng-repeat="property in systemState.values | filter: { type: 'os' }">
					<ha-property property="property" />
				</div>
			</div>
		</div>
	</div>
</div>
