<div class="row full">
	<div class="col-md-9 col-xs-6">
		<div class="col-md-2 col-xs-12"
			ng-repeat="room in rooms | filter: { floor: 'FIRST' }">
			<ha-room-panel room="room" />
		</div>
		<div class="col-md-12 col-xs-12">
			<div class="label-default"
				style="width: 100%; height: 1px; margin-bottom: 20px;">&nbsp;</div>
		</div>
		<div class="col-md-2 col-xs-12"
			ng-repeat="room in rooms | filter: { floor: 'BASEMENT' }">
			<ha-room-panel room="room" />
		</div>
	</div>
	<div class="col-md-3 col-xs-6">
		<div class="panel panel-info">
			<div class="panel-heading">
				<a href="#/outdoor">Outdoor ({{outdoor.lastUpdate}})</a>
				<ha-light-control entity="outdoor" small="true"></ha-light-control>
				<span class="glyphicon glyphicon-cloud right"></span>
			</div>
			<table class="table">
				<tbody>
					<tr ng-repeat="reading in outdoor.sensorReadings">
						<th>{{reading.type}}</th>
						<td>{{reading.stringValue}}</td>
					</tr>
				</tbody>
			</table>
		</div>

		<ha-system-panels state="systemState" />

	</div>
</div>
