<div class="page-header">
	<h1 ng-show="outdoorHistory==undefined">Loading...</h1>
	<h1>Outdoor state</h1>
</div>

<div class="row full">
	<div class="col-md-6">

		<nvd3-stacked-area-chart ng-show="outdoorHistory"
			data="outdoorHistory" id="outdoorHistory" width="600" height="400"
			margin="0" xAxisTickFormat="xAxisTickFormat()" showXAxis="true"
			showYAxis="true" noData="No data found for last week!"
			showLegend="true" interactive="true" tooltips="true"
			useInteractiveGuideLine="true"> <svg></svg>
		</nvd3-stacked-area-chart>
	</div>
	<div class="col-md-3 right">
		<div class="panel panel-info">
			<div class="panel-heading">Outdoor summary</div>

			<table class="table">
				<tbody>
					<tr ng-repeat="reading in outdoorDetail.sensorReadings">
						<th>{{reading.type}}</th>
						<td>{{reading.stringValue}}</td>
					</tr>
					<tr>
						<th>Last Checked</th>
						<td>{{outdoorDetail.lastUpdate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ha-light-details entity="outdoorDetail" />
	</div>
</div>
