<div class="row full">
	<div class="col-md-9">
		<div class="col-md-10">
			<nvd3-stacked-area-chart ng-show="temperatureHistory"
				data="temperatureHistory" id="temperatureHistory" width="500"
				height="200" margin="0" xAxisTickFormat="xAxisTickFormat()"
				showXAxis="true" showYAxis="true"
				noData="No data found for last week!" showLegend="true"
				interactive="true" tooltips="true" useInteractiveGuideLine="true">
			</nvd3-stacked-area-chart>
			<nvd3-stacked-area-chart ng-show="humidityHistory"
				data="humidityHistory" id="humidityHistory" width="500" height="200"
				margin="0" xAxisTickFormat="xAxisTickFormat()" showXAxis="true"
				showYAxis="true" noData="No data found for last week!"
				showLegend="true" interactive="true" tooltips="true"
				useInteractiveGuideLine="true"> </nvd3-stacked-area-chart>
			<nvd3-line-chart ng-show="pressureHistory" data="pressureHistory"
				id="pressureHistory" width="500" height="200" margin="0"
				xAxisTickFormat="xAxisTickFormat()" showXAxis="true"
				showYAxis="true" forceY="[1000,1030]"
				noData="No data found for last week!" showLegend="true"
				interactive="true" tooltips="true" useInteractiveGuideLine="true">
			</nvd3-line-chart>
		</div>
		<div class="col-md-1 right">
			<ha-graphs-switch data="[temperatureHistory,humidityHistory,pressureHistory]" />
		</div>
	</div>
	<div class="col-md-3 right">
		<div class="panel panel-info">
			<div class="panel-heading">Outdoor summary</div>

			<table class="table">
				<tbody>
					<tr ng-repeat="reading in outdoorDetail.sensorReadings">
						<th>{{reading.type}}</th>
						<td>{{reading.stringValue}}</td>
					</tr>
					<tr>
						<th>Last Checked</th>
						<td>{{outdoorDetail.lastUpdate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ha-light-details entity="outdoorDetail" />
	</div>
</div>
