<div class="page-header">
	<h1 ng-show="temperatureHistory==undefined">Loading...</h1>
	<h1>{{roomDetail.name}}</h1>
</div>

<div class="row full">
	<div class="col-md-6">
		<nvd3-line-chart ng-show="temperatureHistory"
			data="temperatureHistory" id="temperatureHistory" width="600"
			height="400" margin="0" xAxisTickFormat="xAxisTickFormat()"
			showXAxis="true" showYAxis="true" forceY="[0,40]"
			noData="No data found for last week!" showLegend="true"
			interactive="true" tooltips="true" useInteractiveGuideLine="true">
		<svg></svg> </nvd3-line-chart>
	</div>
	<div class="col-md-3 right">
		<div class="panel panel-info">
			<div class="panel-heading">Summary</div>

			<table class="table">
				<tbody>
					<tr>
						<th>Name</th>
						<td>{{roomDetail.name}}</td>
					</tr>
					<tr>
						<th>Floor</th>
						<td>{{roomDetail.floor.toLowerCase()}}</td>
					</tr>
					<tr>
						<th>Current Temperature</th>
						<td>{{roomDetail.temperature.stringValue}}°C</td>
					</tr>
					<tr>
						<th>Last Checked</th>
						<td>{{roomDetail.lastUpdate}}</td>
					</tr>
					<tr>
						<th>Motion Sensor</th>
						<td><ha-state entity="roomDetail"
								state="roomDetail.motionSensor" /></td>
					</tr>
					<tr>
						<th>Light Switch</th>
						<td><ha-state entity="roomDetail"
								state="roomDetail.lightSwitch" /></td>
					</tr>
					<tr>
						<th>Light Control</th>
						<td><ha-state entity="roomDetail"
								state="roomDetail.lightControl" should-switch-off-when-disabled="true" /></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>
