<div class="page-header">
	<h1 ng-show="temperatureHistory==undefined">{{ 'Loading...'  | translate }}</h1>
	<h1>{{roomDetail.name | translate}}</h1>
</div>

<div class="row full">
	<div class="col-md-9">
		<div class="col-md-10">
			<nvd3-stacked-area-chart ng-show="temperatureHistory"
				data="temperatureHistory" id="temperatureHistory" width="600"
				height="400" margin="0" xAxisTickFormat="xAxisTickFormat()"
				showXAxis="true" showYAxis="true" forceY="[0,40]"
				noData="N/A" showLegend="true"
				interactive="true" tooltips="true" useInteractiveGuideLine="true">
			</nvd3-stacked-area-chart>
		</div>
		<div class="col-md-1 right">
			<ha-graphs-switch data="[temperatureHistory]" />
		</div>
	</div>
	<div class="col-md-3 right">
		<div class="panel panel-info">
			<div class="panel-heading">{{ 'Detail' | translate }}</div>
			<table class="table">
				<tbody>
					<tr>
						<th>{{ 'Name' | translate }}</th>
						<td>{{roomDetail.name | translate}}</td>
					</tr>
					<tr>
						<th>{{ 'Floor' | translate }}</th>
						<td>{{roomDetail.floor | translate}}</td>
					</tr>
					<tr>
						<th>{{ 'Current Temperature' | translate }}</th>
						<td>{{roomDetail.temperature.stringValue}}</td>
					</tr>
					<tr>
						<th>{{ 'Last Checked' | translate }}</th>
						<td>{{roomDetail.lastUpdate | date : "short"}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="panel panel-info">
			<div class="panel-heading">{{ 'Windows / doors' | translate }}</div>
			<table class="table">
				<tbody>
					<tr ng-repeat="entry in roomDetail.entries">
						<th>{{entry.name | translate}}</th>
						<td>{{(entry.reedSwitch.initiated && entry.reedSwitch.enabled
							? (entry.reedSwitch.switchedOn ? 'Closed' : 'Open') : 'Error') | translate}}</td>
					</tr>
				</tbody>
			</table>
		</div>
		<ha-light-details entity="roomDetail" />
	</div>
</div>
