<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="homeAutomation" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="homeAutomation" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="homeAutomation" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="homeAutomation" class="no-js">
<!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Home Automation</title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="angular/builtin/css/normalize.min.css">
	<link rel="stylesheet" href="angular/builtin/css/main.css">
	<link rel="stylesheet" href="angular/builtin/css/angular-toggle-switch.css">
	<link rel="stylesheet" href="angular/builtin/css/angular-toggle-switch-bootstrap.css">
	<link rel="stylesheet" href="angular/builtin/css/nv.d3.css"/>
	<link rel="stylesheet" href="angular/builtin/css/ngDialog.min.css"/>
	<link rel="stylesheet" href="angular/builtin/css/ngDialog-theme-default.min.css"/>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="jquery/css/jquery-ui.min.css">
	<link rel="stylesheet" href="jquery/css/fullcalendar.min.css">
	<link rel="stylesheet" href="css/app.css">
	<script src="angular/builtin/js/modernizr-2.6.2.min.js"></script>
</head>
<body>
	<script type="text/ng-template" id="calendarEvent.html">
    <table class="table">
	<thead>
		<tr>
			<th ng-if="ngDialogData.alarm" colspan="2" class="alarm">Alarm !!!</th>
			<th ng-if="!ngDialogData.alarm" colspan="2">{{ 'Event Detail' | translate }}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th>{{ 'When' | translate }}</th>
			<td>{{ parseCalendarDate(calendarEvent.start) }}</td>
		</tr>
		<tr>
			<th>{{ 'What' | translate }}</th>
			<td>{{ translateCalendarWhat(calendarEvent) }}</td>
		</tr>
		<tr>
			<th>{{ 'Where' | translate }}</th>
			<td>{{calendarEvent.where | translate }}</td>
		</tr>
		<tr>
			<th>{{ 'Floor' | translate }}</th>
			<td>{{calendarEvent.floor | translate }}</td>
		</tr>
		<tr ng-if="ngDialogData.alarm">
			<td colspan="2" class="center"><button type="button" class="btn btn-default" ng-click="dismiss()">{{ 'Dismiss' | translate }}</button></td>
		</tr>
	</tbody>
    </table>
	</script>
	<div class="wrapper container-fluid">
		<div class="top" ng-controller="MenuController">
			<ul class="nav nav-tabs">
				<li><a href="#/home">{{ 'Home' | translate }}</a></li>
				<li><a href="#/outdoor">{{ 'Outdoor' | translate }}</a></li>
				<li><a href="#/security">{{ 'Security' | translate }}</a></li>
				<li><a href="#/liveview">{{ 'Live View' | translate }}</a></li>
				<li><a href="#/systemstate">{{ 'System State' | translate }}</a></li>
				<li class="lang">
					<img src="img/enflag.png" title="{{ 'English' | translate }}" ng-click="changeLanguage('en')" />
					<img src="img/czflag.png" title="{{ 'Czech' | translate }}" ng-click="changeLanguage('cs')" />
				</li>
			</ul>
		</div>
		<div class="full" ng-view></div>
	</div>
	<script src="jquery/js/jquery-2.1.1.min.js"></script>
	<script src="jquery/js/jquery-ui.custom.min.js"></script>
	<script src="jquery/js/moment.min.js"></script>
	<script src="jquery/js/fullcalendar.min.js"></script>
	<script src="jquery/js/fullcalendar-lang/cs.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>
	<script src="angular/builtin/js/angular.min.js"></script>
	<script src="angular/builtin/js/angular-route.min.js"></script>
	<script src="angular/builtin/js/angular-resource.min.js"></script>
	<script src="angular/builtin/js/angular-cookies.min.js"></script>
	<script src="angular/builtin/js/tmhDynamicLocale.js"></script>
	<script src="angular/builtin/js/angular-translate.min.js"></script>
	<script src="angular/builtin/js/angular-translate-storage-cookie.min.js"></script>
	<script src="angular/builtin/js/d3.min.js"></script>	
	<script src="angular/builtin/js/gauge.js"></script>
	<script src="angular/builtin/js/angular-gauge.js"></script>	
	<script src="angular/builtin/js/angular-toggle-switch.min.js"></script>
	<script src="angular/builtin/js/nv.d3.min.js"></script>
	<script src="angular/builtin/js/angularjs-nvd3-directives.min.js"></script>
	<script src="angular/builtin/js/calendar.js"></script>
	<script src="angular/builtin/js/ngDialog.min.js"></script>
	<script src="angular/js/app.js"></script>
	<script src="angular/js/services.js"></script>
	<script src="angular/js/controllers.js"></script>
	<script src="angular/js/filters.js"></script>
	<script src="angular/js/directives.js"></script>
	<script src="angular/js/locale-cs.js"></script>
</body>
</html>
