html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	padding-top: 0;
	padding-bottom: 80px;
}

.top {
	height: 50px;
}
.full {
	min-height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.roomLabel {
	margin-top: 3px;
	display: block;
}

.roomSwitch {
	margin-left: 10px;
	height: 22px;
	font-size: 75%;
}

.roomSwitch span {
	padding: 1px;
}

.temperaturePanel {
	padding: 0;
}

.buttonsPanel {
	padding: 0 5px 0 0;
}

.panelLink {
	color: #fff;
}

.panelLink:hover {
	color: #ccc;
}
