html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

.wrapper {
	height: 100%;
	padding-top: 0;
	padding-bottom: 80px;
}

.top {
	height: 50px;
}
.full {
	min-height: 100%;
}

.right {
	float: right;
}

.temperaturePanel {
	padding: 0;
}

.buttonsPanel {
	padding: 0 5px 0 0;
}

.panelLink {
	color: #fff;
}

.panelLink:hover {
	color: #ccc;
}
